footer .section-container{
    display: flex;
    justify-content: center;
}


footer:hover .hidden1{
    display: none;
}

.hidden-text{
    display: none;
}
footer:hover .hidden-text{
    display: block;
}

