.section-container{
    font-family: fantasy;
    color: rgb(91, 32, 32);
    background-color: rgb(188, 188, 188);
    padding: 2vw;
    margin: 1vw;
    border-radius: 2vw;
    border: solid 0.4vw;
    box-shadow: 0.5vw 0.5vw 0.5vw rgb(0, 0, 0);
    font-size: 1.5vw;
}
.section-container input{
    width: 2.50vmin;
    height: 2.50vmin;
}
.section-container li{
    margin: 0.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





#ingredients-section{
    display: flex;
    justify-content: space-between;
}




#preparation-time-container{
    display: none;
}
#preparation-time-flex{
    display: flex;
    width: 100%;
}
#preparation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





#time-container{
    display: none;
    width:70%;
}
#start-timer, #start , #stop, #reset {
    padding-block: 1%;
    padding-inline: 2%;
}
#start , #stop, #reset{
    width: 80%;
}
#controls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.nav-buttons{
    display: flex;
    justify-content: space-between;
}
.nav-buttons button{
    font-size: x-large;
    padding-block: 1%;
}